/* ========== Variables Globales ================================ */
:root {
  --couleur-primaire: rgba(154, 205, 50, 0.95);;
  --couleur-secondaire: yellowgreen;
}

* {
  margin: 0;
  padding: 0;
 
}

body{
   font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: #333;
    /* background: linear-gradient(rgb(0,0,0,0.5)), #2e2e2e;  */
    
    
}

/*=====================-Header=================================================================*/
#header{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width:100% 
}

#header-container{
  display: flex;           
  gap: 60px;   
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center;
   /*width: 100%;
  max-width: 1200px;*/
  /*padding: 10px 30px;*/
  margin: auto;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  /* color: black; */
  font-weight: 400;
  font-size: 15px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  padding-right: 6px;
  
}

.logo {
   border-radius: 5px;
   height: 70px;
    padding: 2px 2px;
}


/*=========================responsive============================================================*/

@media (max-width: 768px) {
  #welcoming h2 {
    font-size: 1.8rem;
    margin-top: 20px;
  }

  .navbar ul {
    gap: 10px;
    flex-direction: row;
    align-items: center;
    padding-right: 5px;

  }

  .logo{
    height: 60px;
    width: 100px;
    padding: 2px 2px;
  }

  #header-container{
    background-size: contain;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-right: 6px;
    /*padding: 15px;*/
  }

.navbar ul li a {
  font-weight: 500;
  font-size: 17px;
  }

header{
  max-width: 84.2%;
}

}

/*========================================================================================*/

#title{
  margin-top: 140px;
  font-family:'Times New Roman', Times, serif;
  font-style: oblique;
  text-align: center;
  font-size: 60px;
  color: var(--couleur-primaire);
}

#miniTitle{
  margin-top: 8px;
  font-family:'Courier New', Courier, monospace;
  font-style: oblique;
  text-align: center;
  color:#333;
  
}

#menuBtn{
  display: flex;
  gap: 20px;
  justify-content: center;
  position: sticky;
  top: 0;
  padding-bottom: 25px;
  z-index: 1999;
  background: transparent;
  
}

#menuBtn button{
  padding: 10px 20px;
  border: var(--couleur-primaire) solid 2px;
  border-radius: 8px;
  /* background-color: white; */
  font-size: 18px;
  margin-top:80px ;
  background: transparent;

}

#menuBtn a{
  color: black;
  font-size: 18px;
  text-decoration: none;
}


#starters-box, #principals-box, #dessert-box{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
  gap: 15px;
  padding: 20px;
  border: 8px;
  margin: 10px 100px;
  
}

#carte{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  background-color: var(--couleur-primaire);
  border: solid 2px var(--couleur-primaire);
  border-radius: 4px;
}

#photo-box img{
  background-size: cover;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

#description{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#description p{
  font-size: 18px;
  font-style: italic;
}

#price-star {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  justify-items: center;
  text-align: center;
  background-color: #333;
  color: white;
  border-radius: 8px;
  padding: 8px;
  margin: 0;
}


#principals-box{
  color:white
  
}

#principals-box #carte{
  background-color: black;
  border: solid 2px var(--couleur-primaire);
  border-radius: 4px;
}

#principals-box #price-star {
 
  background-color: var(--couleur-primaire);
  color: white;
  
}

#dessert-box #carte{
  background-color: white;
  /* border: solid 2px black; */
  border-radius: 4px;
  border: solid 3px var(--couleur-primaire);

}

.starters {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 30px;
  justify-content: center;
  font-weight: 5px;
  margin: 30px;

}


#dessert-box #price-star{
  background-color: var(--couleur-primaire);

}

.add-to-cart-btn {
    background-color: transparent; 
    color: #9cd649; 
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    transition: background-color 0.2s, color 0.2s; /* Smooth hover effect */
}

#starters-box .add-to-cart-btn{
    background-color: transparent; 
    color: #9cd649; 
    color: white; 
}

#price h2{
  font-size: 20px;

}

.dessert, .principal{
  margin-top: 80px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 30px;
  justify-content: center;
  font-weight: 5px;

}



/*=====FOOTER===================================================================================*/

.main-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  gap:20px ;
  text-align: center;
  width: 100%;
  background-color: rgba(154, 205, 50, 0.95);
  padding: 15px;
  margin-top: 120px;
  /*color: white;*/
}

#footer-logo{
  width: 200px;
}

#time-list{
  margin-top: 12px;
}

.main-footer li{
  list-style: none;
}

.contact h3{
  margin-bottom: 5px;
}

.contact p{
  margin-bottom: 3px;
  font-size: 15px;

}

.social-link a{
text-decoration: none;
color: white;
font-style: oblique;
font-size: 15px;
}

.footer{
    background-color: #222222;
    color: white;
    margin-top: 60px;
}

#subscribe , #email-footer{
  padding: 6px 6px;
  background-color: black;
  color: white;
  height: 30px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s;
}

 #email-footer{
  font-weight: 100;
  font-size: 14px;
  background-color: azure;
 }

 .Newsletter{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1px;
 }

 #copyright{
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
  font-weight: 15px ;
 }


