/* ========== Variables Globales ================================ */
:root {
  --couleur-primaire: #6D8612;
  --couleur-secondaire: yellowgreen;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: #333;
}

/*=====================-Header=================================================================*/
#header{
    background-color: rgba(154, 205, 50, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width:100% 
}

#header-container{
  display: flex;            /* Met la liste à l’horizontale */
  gap: 60px;   
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center;
   /*width: 100%;
  max-width: 1200px;*/
  /*padding: 10px 30px;*/
  margin: auto;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  padding-right: 6px;
  
}

.logo {
   border-radius: 5px;
   height: 70px;
    padding: 2px 2px;
}

/*=================section===============================================================================*/

#home-section{
  background: linear-gradient(rgba(0,0,0,0.5),rgb(0,0,0,0.5)) ,url("images/pic-principal.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* makes it visible */
  align-items: center;
  justify-content: center;
  display: flex;
}

/* ============================ Text in the center ==================================== */

#welcoming {
  text-align: center;
  color: white;
  z-index: 2; /* above overlay */
  max-width: 700px;
  padding: 20px;
}

#welcoming h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

#welcoming p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-style: oblique;
}

/* ====================================== Button ============================================= */
#explore , #subscribe {
  padding: 12px 30px;
  background-color: #9acd32;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}
/*=========================responsive============================================================*/

@media (max-width: 768px) {
  #welcoming h2 {
    font-size: 1.8rem;
    margin-top: 20px;
  }

  #welcoming p {
    margin-top: 15px;
    font-size: 1rem;
  }

  .navbar ul {
    gap: 10px;
    flex-direction: row;
    align-items: center;
    padding-right: 5px;

  }

  .logo{
    height: 60px;
    width: 100px;
    padding: 2px 2px;
  }

  #header-container{
    background-size: contain;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-right: 6px;
    /*padding: 15px;*/
  }

.navbar ul li a {
  font-weight: 500;
  font-size: 17px;
  }



header{
  max-width: 84.2%;
}


}

/*========================================================================================*/

.main-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  gap:20px ;
  text-align: center;
  width: 100%;
  background-color: black;
  padding: 15px;
}

#footer-logo{
  width: 200px;
}

.open-time{
  margin-top: 15px;
  
}

#time-list{
  margin-top: 12px;
}

#time-list li{
  list-style: none;
}

.contact h3{
  margin-bottom: 5px;
}

.social-link a{
color:  #9acd32;
text-decoration: none;

}


.footer{
    background-color: #222222;
    color: white;
}




