/* ========== Variables Globales ================================ */
:root {
  --couleur-primaire: rgba(154, 205, 50, 0.95);;
  --couleur-secondaire: yellowgreen;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: #333;
}

/*=====================-Header=================================================================*/
#header{
    background-color: rgba(154, 205, 50, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width:100% 
}

#header-container{
  display: flex;           
  gap: 60px;   
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center;
   /*width: 100%;
  max-width: 1200px;*/
  /*padding: 10px 30px;*/
  margin: auto;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 15px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  padding-right: 6px;
  
}

.logo {
   border-radius: 5px;
   height: 70px;
    padding: 2px 2px;
}

/*=================section===============================================================================*/

#home-section{
  background: linear-gradient(rgba(0,0,0,0.5),rgb(0,0,0,0.5)) ,url("images/pic-principal.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* makes it visible */
  align-items: center;
  justify-content: center;
  display: flex;
}

/* ============================ Text in the center ==================================== */

#welcoming {
  text-align: center;
  color: white;
  z-index: 2; /* above overlay */
  max-width: 700px;
  padding: 20px;
}

#welcoming h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

#welcoming p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-style: oblique;
}

/* ====================================== Button ============================================= */
#explore , #subscribe, #descover-menu {
  padding: 12px 30px;
  background-color: #9acd32;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}
/*=========================responsive============================================================*/

@media (max-width: 768px) {
  #welcoming h2 {
    font-size: 1.8rem;
    margin-top: 20px;
  }

  #welcoming p {
    margin-top: 15px;
    font-size: 1rem;
  }

  .navbar ul {
    gap: 10px;
    flex-direction: row;
    align-items: center;
    padding-right: 5px;

  }

  .logo{
    height: 60px;
    width: 100px;
    padding: 2px 2px;
  }

  #header-container{
    background-size: contain;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-right: 6px;
    /*padding: 15px;*/
  }

.navbar ul li a {
  font-weight: 500;
  font-size: 17px;
  }



header{
  max-width: 84.2%;
}

}

/*===================================second page===================================================*/

#discover-container{
  text-align: center;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-between;
  margin-top: 50px;
  gap: 15px;
  position: relative;
}

#last-section{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
  border-radius: 8px;
  padding: 8px;
  margin-left: 75px;
  margin-right: 75px;
 
}

#discover-container h3{
  color: var(--couleur-primaire);
  font-size: 20px;
  font-style: oblique;

}

/*-----------------------------first party-----------------*/
#first-party{
  height: 400px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin:15px ;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 2px;
  justify-content: center;
}

.chefimg{
  width: 500px;
  height: 400px;
  border-radius: 5px;
  margin-left: 80px;
}

#kitchen-box{
  background-color: var(--couleur-primaire);
  border-radius: 5px;
  width: 400px;
  justify-content: center;
  text-align: center;
  height: 400px;
  line-height:32px;
  margin-right: 80px;
}

#kitchen-box h4{
  padding-bottom: 14px;
  padding-top: 14px;

}

/*-----------------------------second party-----------------*/
#title-view{
  margin-top: 30px;

}


#second-party{
  background-color: black;
  display: flex;
  flex-direction: row;
  gap: 18px;
  justify-content: space-between;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;

}

.viewimg{
  background-image: url("images/view.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* makes it visible */
  width: 800px;
  height: 600px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.viewimg p{
  color: black;

}

#view-box{
  width: 500px;
  
}

#view-box h4{
  margin-top: 12px;
  padding-bottom: 10px;
  padding-top: 14px;
  color: var(--couleur-primaire);
}  

#view-box2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  line-height: 20px;
}
.viewimg2{
  background-image: url(images/view4.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
}

/*-----------------------------third party-----------------*/
#third-party{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  gap: 20px;
  line-height: 38px;
}

.plat-img{
  background-image: url("images/plat2.jpg");
  background-repeat: repeat;
  background-size:contain;
  justify-content: center;
  justify-items: center;
  height: 100px;

  margin-left: 230px;
  margin-right: 230px;
}

#descover-menu{
  margin-top: 18px ;
  margin-bottom: 50px;
}

.plat-box{
  display: grid;
  gap: 12px; /* espace entre les images */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: start;
  padding: 12px;
}

.img-plat{
  width: 100%;
  height: 200px;            /* fixe la hauteur pour un rendu uniforme */
  object-fit: cover;        /* crop propre sans déformer */
  display: block;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}


/*========================================================================================*/

.main-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  gap:20px ;
  text-align: center;
  width: 100%;
  background-color: rgba(154, 205, 50, 0.95);
  padding: 15px;
  margin-top: 50px;
  /*color: white;*/
}

#footer-logo{
  width: 200px;
}

#time-list{
  margin-top: 12px;
}

.main-footer li{
  list-style: none;
}

.contact h3{
  margin-bottom: 5px;
}

.contact p{
  margin-bottom: 3px;
  font-size: 15px;

}

.social-link a{
text-decoration: none;
color: white;
font-style: oblique;
font-size: 15px;
}

.footer{
    background-color: #222222;
    color: white;
    margin-top: 60px;
}

#subscribe , #email-footer{
  padding: 6px 6px;
  background-color: black;
  color: white;
  height: 30px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

 #email-footer{
  font-weight: 100;
  font-size: 14px;
  background-color: azure;
 }

 .Newsletter{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1px;
 }

 #copyright{
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
  font-weight: 15px ;
 }


